.div-home-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.div-home-page > header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.div-home-page > div:nth-of-type(2) {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
  text-align: center;
}
